*.o
*.so
chakravarty.c
crc01.c
crc04itu.c
crc05epc.c
crc05itu.c
crc05usb.c
crc06cdma2000a.c
crc06cdma2000b.c
crc07.c
crc07mvb.c
crc08.c
crc08ccitt.c
crc08dallas.c
crc08saej1850.c
crc08wcdma.c
crc10.c
crc10cdma2000.c
crc11.c
crc12.c
crc12cdma2000.c
crc13bbc.c
crc15can.c
crc15ibm.c
crc15mpt1327.c
crc16arinc.c
crc16ccitt.c
crc16cdma2000.c
crc16dect.c
crc16dnp.c
crc16ibm.c
crc16t10dif.c
crc17can.c
crc21can.c
crc24.c
crc24radix64.c
crc30.c
crc32.c
crc32c.c
crc32castagnolli.c
crc32ieee8023.o
crc32ieee802_3.c
crc32k.c
crc32q.c
crc40gsm.c
crc4itu.c
crc64ecma.c
crc64iso.c
crc_alltables.c
crc_alltables.h
crctables.c
libcrc.a
libcrc.mk
libcrc.so*
mkcrc
test_crc
test_crchash
